# General

## Archives
*.zip
*.7z
*.rar
*.gz
*.tar

## Logs
*.log


## Tests and Logs
[Tt]est[Rr]esult*/
[Ll]og/
[Bb]uild[Ll]og.*
Documents/BackEnd_API_Doxygen/Docs/



## IDE and Tools
.[Ii]dea/
.[Vv]s/
.[Vv]scode/

